.categories {
  &__add-wrapper {
    position: relative;
    cursor: pointer;
    margin: 15px;
    margin-top: 1px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all linear 0.3s;

    &:hover {
      box-shadow: 0px 0px 15px 0px #3e5497;
    }
  }
  &.show-small &__add-wrapper {
    // justify-content: center;
    padding: 6px;
    margin: 13px 0px;
    margin-top: 0;
    &:hover {
      box-shadow: inset 0px 0px 15px 0px #3e5497;
    }
  }
  &__add-title {
    display: flex;
    overflow: hidden;
  }
  &__add-icon {
    transform: rotate(45deg);
    transition: all linear 0.3s;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }
  &.show-small &__add-icon {
    width: 35px;
    height: 35px;
    font-size: 36px;
    margin: 0;
    border-radius: 8px;
  }

  &__add-name {
    transition: all linear 0.3s;
    opacity: 1;
    visibility: visible;
    width: 150px;
    font-size: 15px;
    font-family: "Roboto-Regular";
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }
  &.show-small &__add-name {
    transition: all linear 0.3s;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    margin-left: -34px;
    width: 34px;
  }
}
