.categories {
  &__add-wrapper {
    position: relative;
    cursor: pointer;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all linear 0.3s;

    &:hover {
      box-shadow: 0px 0px 15px 0px #3e5497;
    }
  }
  &.show-small &__add-wrapper {
    justify-content: center;
    padding: 6px;
    margin: 13px 0px;
    &:hover {
      box-shadow: inset 0px 0px 15px 0px #3e5497;
    }
  }
  &__add-title {
    display: flex;
    overflow: hidden;
  }
  &__add-icon {
    transform: rotate(45deg);
    transition: all linear 0.3s;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }
  &.show-small &__add-icon {
    width: 35px;
    height: 35px;
    font-size: 36px;
    margin: 0;
    border-radius: 8px;
  }

  &__add-name {
    transition: all linear 0.3s;
    opacity: 1;
    visibility: visible;
    width: 150px;
    font-size: 15px;
    font-family: "Roboto-Regular";
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }
  &.show-small &__add-name {
    transition: all linear 0.3s;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    margin-left: -34px;
    width: 34px;
  }
  &__add-popup-backgroud {
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__add-popup-window {
    z-index: 12;
    position: absolute;
    left: 13px;
    top: 60px;
    display: flex;
    // border: 2px solid #eaecf1;
    flex-direction: column;
    background-color: #3e5497;
    padding: 20px;
    border-radius: 10px;
  }
  &__add-input {
    padding: 5px;
    font-size: 15px;
    color: #eaecf1;
    display: flex;
    align-items: center;
    width: 100%;
    // margin: 5px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid darken($color: #eaecf1, $amount: 30);
  }
  &__add-input::placeholder {
    color: darken($color: #eaecf1, $amount: 30);
  }
  &__add-colors {
    display: flex;
    margin-bottom: 15px;
  }
  &__add-color {
    cursor: pointer;

    width: 25px;
    height: 25px;
    display: flex;
    margin: 5px;
    border-radius: 50%;
    transition: all linear 0.3s;
    &.active {
      box-shadow: 0px 0px 10px 3px #041955;
    }
    &:hover {
      box-shadow: 0px 0px 10px 3px #041955;
    }
  }

  &__add-btn {
    font-size: 16px;
    cursor: pointer;
    color: #eaecf1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #183588;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all linear 0.3s;
    &:hover {
      background-color: lighten($color: #183588, $amount: 20);
      border: 1px solid #eaecf1;
    }
  }
  &__add-close-btn {
    cursor: pointer;
    color: #eaecf1;
    position: absolute;
    right: 1px;
    top: 2px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    // border: 2px solid #eaecf1;
    // background-color: #183588;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all linear 0.3s;
    &:hover {
      color: #183588;
    }
  }
}
