.todo {
  &__task-wrapper {
    padding: 15px;
    margin: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__checkbox {
    cursor: pointer;
    color: #eaecf1;
    width: 30px;
    height: 23px;
    background-color: #183588;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: background-color, border 0.7s ease;
    &:hover {
      background-color: lighten($color: #183588, $amount: 20);
      border: 1px solid #eaecf1;
    }
  }

  &__task {
    color: #eaecf1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px;
    font-size: 16px;
  }
  &__task.checked {
    text-decoration: line-through;
  }
  &__delete-task-btn {
    cursor: pointer;
    color: #183588;
    margin: 5px;
    transition: color 0.7s ease;
    &:hover {
      color: lighten($color: #183588, $amount: 70);
    }
  }
}
