.todo {
  &__task-wrapper {
    padding: 15px;
    margin: 0 12px 0 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1000px) {
      padding: 5px;
    }
  }
  &__checkbox {
    cursor: pointer;
    color: #eaecf1;
    width: 23px;
    height: 23px;
    background-color: #183588;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 4px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    @media (max-width: 1000px) {
      margin-right: 10px;
    }
    &:hover {
      background-color: lighten($color: #183588, $amount: 20);
      border: 1px solid #eaecf1;
    }
  }

  &__task {
    white-space: pre;
    overflow: hidden;
    transition: all 0.5s ease;
    text-align: justify;
    color: #eaecf1;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid #eaecf1;
    }
    &:focus {
      border-bottom: 3px solid #eaecf1;
    }
  }

  &__task.checked {
    text-decoration: line-through;
  }
  &__delete-task-btn {
    cursor: pointer;
    color: #183588;
    margin: 5px;
    margin-left: 15px;
    font-size: 19px;
    transition: all 0.5s ease;
    &:hover {
      color: lighten($color: #183588, $amount: 70);
    }
    @media (max-width: 1000px) {
      margin-left: 10px;
    }
  }
  &__delete-task-btn:hover + &__task {
    border-bottom: 3px solid #da4747;
    // box-shadow: 0px 0px 12px 4px #da4747;
  }
}
