.categories {
  background-color: #041955;
  color: #fcfcfd;
  position: relative;
  padding: 63px 0px 0;
  font-size: 15px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  transition: all linear 0.3s;
  z-index: 12;
  &.show-small {
    width: 65px;
  }
  @media (max-width: 1000px) {
    width: 260px;
  }
  @media (max-width: 550px) {
    body {
      background-color: #041955;
    }
    & + .todo {
      width: 0;
      opacity: 0;
      visibility: hidden;
      padding-right: 0;
      padding-left: 0;
    }
    &.show-small + .todo {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
    & {
      width: 100%;
    }
  }

  &__menu-arrow-btn {
    position: absolute;
    top: 19px;
    right: 12px;
    cursor: pointer;
    font-size: 32px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    transition: all linear 0.3s;
    // border: 1px solid white;
    border-radius: 50%;
    &:hover {
      box-shadow: inset 0px 0px 15px 0px #3e5497;
    }
  }
  &.show-small &__menu-arrow-btn {
    transform: rotate(0);
  }
}

.color {
  &--green {
    color: #34af86;
  }
  &--gray {
    color: #cfcfcf;
  }
  &--pink {
    color: #fcc3cc;
  }
  &--olive {
    color: #b1deb7;
  }
  &--purpure {
    color: #c668fd;
  }
  &--orange {
    color: #ff6e60;
  }
  &--blue {
    color: #62bdf6;
  }
}
.bg {
  &--green {
    background-color: #34af86;
  }
  &--gray {
    background-color: #cfcfcf;
  }
  &--pink {
    background-color: #fcc3cc;
  }
  &--olive {
    background-color: #b1deb7;
  }
  &--purpure {
    background-color: #c668fd;
  }
  &--orange {
    background-color: #ff6e60;
  }
  &--blue {
    background-color: #62bdf6;
  }
}
