.categories {
  background-color: #041955;
  color: #fcfcfd;
  position: relative;
  padding: 50px 0px;
  font-size: 15px;
  width: 320px;

  // border-radius: 20px;
  // margin: 10px;

  // overflow: auto;

  @media (max-width: 800px) {
    width: 260px;
  }
  &.show-small {
    width: 60px;
  }
  &__menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 32px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.color {
  &--green {
    color: #34af86;
  }
  &--gray {
    color: #cfcfcf;
  }
  &--pink {
    color: #fcc3cc;
  }
  &--olive {
    color: #b1deb7;
  }
  &--purpure {
    color: #c668fd;
  }
  &--orange {
    color: #ff6e60;
  }
  &--blue {
    color: #62bdf6;
  }
}
.bg {
  &--green {
    background-color: #34af86;
  }
  &--gray {
    background-color: #cfcfcf;
  }
  &--pink {
    background-color: #fcc3cc;
  }
  &--olive {
    background-color: #b1deb7;
  }
  &--purpure {
    background-color: #c668fd;
  }
  &--orange {
    background-color: #ff6e60;
  }
  &--blue {
    background-color: #62bdf6;
  }
}
