@font-face {
  font-family: "San-Francisco-Display-Regular";
  src: url("./SanFranciscoDisplayRegular.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./Montserrat-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./Roboto-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
