.todo {
  transition: all ease 0.5s;
  // transition: padding 0s;
  width: 100%;
  padding: 35px 5px;
  overflow: auto;
  background-color: #3450a1;
  @media (max-width: 1000px) {
    padding: 10px 5px 10px 10px;
  }

  &__no-tasks {
    font-size: 40px;
    padding: 15px;
    margin: 15px;
    margin-top: 12px;
    color: #eaecf1;
    font-family: "Montserrat-Bold", serif;
    @media (max-width: 1000px) {
      margin-top: 36px;
    }
    @media (max-width: 600px) {
      font-size: 28px;
      margin-top: 39px;
    }
  }
}
