.categories {
  &__add-popup-backgroud {
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__add-popup-window {
    z-index: 12;
    position: absolute;
    left: 13px;
    top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #3e5497;
    padding: 20px;
    border-radius: 10px;
  }
  &__add-input {
    transition: all linear 0.3s;
    padding: 5px;
    font-size: 16px;
    color: #eaecf1;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 4px solid darken($color: #eaecf1, $amount: 30);
    &:hover {
      border-bottom: 4px solid #eaecf1;
    }
    &:focus {
      border-bottom: 4px solid #eaecf1;
    }
  }
  &__add-input::placeholder {
    color: darken($color: #eaecf1, $amount: 30);
  }
  &__add-colors {
    display: flex;
    margin-bottom: 15px;
  }
  &__add-color {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    margin: 5px;
    border-radius: 50%;
    transition: all linear 0.3s;
    &.active {
      box-shadow: 0px 0px 10px 3px #c4c6e7;
    }
    &:hover {
      box-shadow: 0px 0px 10px 3px #c4c6e7;
    }
  }

  &__add-btn {
    font-size: 16px;
    cursor: pointer;
    color: #eaecf1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #183588;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all linear 0.3s;
    &:hover {
      background-color: lighten($color: #183588, $amount: 20);
      border: 1px solid #eaecf1;
    }
  }
  &__add-close-btn {
    cursor: pointer;
    color: #183588;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: all linear 0.3s;
    &:hover {
      color: #eaecf1;
    }
  }
}
