.todo {
  &__textarea-wrapper {
    padding: 15px;
    margin: 8px 15px;
    margin-bottom: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1000px) {
      padding: 5px;
      margin-bottom: 15px;
    }
  }
  &__textarea-add-task-btn {
    cursor: pointer;
    color: darken($color: #eaecf1, $amount: 30);
    transform: rotate(45deg);
    margin-top: 3px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 24px;
    transition: all 0.5s ease;
    @media (max-width: 1000px) {
      margin-right: 9px;
    }
    &:hover {
      color: #eaecf1;
    }
  }
  &__textarea {
    font-family: "San-Francisco-Display-Regular";
    word-break: break-word;
    overflow: hidden;
    resize: none;
    transition: all 0.5s ease;
    // font-size: 18px;
    color: #eaecf1;
    display: flex;
    align-items: center;
    width: 100%;
    // height: 26px;
    margin: 5px;
    margin-left: 0;
    margin-right: 30px;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 5px;
    padding-top: 0;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid #eaecf1;
    }
    &:focus {
      border-bottom: 3px solid #eaecf1;
    }
    // border-bottom: 1px solid #eaecf1;
  }
  &__textarea::placeholder {
    color: darken($color: #eaecf1, $amount: 30);
  }
}
