* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #97b5fe;
}
a {
  text-decoration: none;
  color: #fcfcfd;
}
@media (max-width: 550px) {
  body {
    background-color: #041955;
  }
}

@import url(./colors.scss);
@import url(./fonts/fonts.scss);

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: lighten($color: #227afe, $amount: 10);

  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #227afe;
}

.app {
  font-family: "San-Francisco-Display-Regular";
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
