.categories {
  &__auth-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding-left: 6px;
    width: 80%;
  }
  &__auth-arrow-btn {
    cursor: pointer;
    font-size: 32px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    transition: transform ease 0.5s;
  }
  &__auth-arrow-btn.show {
    transform: rotate(0);
  }
  &__auth-sync {
    position: relative;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    transition: all 0.5s ease;
  }
  &__auth-sign {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -100%;
    display: flex;

    // display: none;
    // padding: 15px;
    // margin: 15px;

    align-items: center;
    justify-content: center;
  }
  &__auth-sign.show {
    bottom: 0;
    // display: flex;
  }
  &__auth-title {
    cursor: pointer;
  }
  &__auth-icon {
    margin: 15px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__auth-avatar {
    margin: 0 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
}
