.authentication {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  width: 210px;
  z-index: 10;
  user-select: none;

  &__auth-show-btn {
    transition: all ease 0.5s;
    cursor: pointer;
    font-size: 27px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    animation-duration: 0.3s;
    border-radius: 50%;
    background-color: rgb(50, 18, 124);
    z-index: 10;
  }
  &.show-small &__auth-show-btn {
    margin-left: 12px;
  }
  .show &__auth-show-btn {
    transform: rotate(0);
  }
  .hide &__auth-show-btn {
    transform: rotate(180deg);
  }

  &__auth-sync {
    display: flex;
    transition: all ease 0.5s;
    position: absolute;
    left: 0;
    margin-bottom: 10px;
    background-color: rgb(50, 18, 124);
    border-radius: 15px;
    bottom: -200%;
    width: 100%;
  }
  &.show-small &__auth-sync {
    border-top-right-radius: 15px;
  }
  .show &__auth-sync {
    bottom: 0;
    visibility: visible;
  }
  .hide &__auth-sync {
    bottom: -200%;
    visibility: hidden;
  }
  &__auth-sign {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation-duration: 0.3s;
    padding-left: 15px;
  }
  .show &__auth-sign {
    bottom: 0;
  }
  .hide &__auth-sign {
    bottom: -100%;
  }

  &__auth-title {
    cursor: pointer;
    // margin-left: -10px;
  }
  &__auth-icon {
    margin: 15px 10px;
    // margin-right: 12px;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__sync {
    transition: all ease 2s;
    position: relative;
  }
  &__sync-error-message {
    display: none;
    position: absolute;
    z-index: 11;
    width: 210px;
    top: -74px;
    left: -15px;
    text-align: center;
    color: red;
    font-weight: bold;
    background-color: #fff;
    padding: 5px;
    border-radius: 15px;
  }
  &__sync-error-message.error {
    display: block;
  }
  &__sync.success {
    color: rgb(88, 184, 88);
  }
  &__sync.error {
    color: rgb(255, 38, 0);
  }

  &__sync.sync-process {
    animation: syncProcess 2s infinite;
  }

  @keyframes syncProcess {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__auth-avatar {
    margin: 0 15px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
}
