.authentication {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  width: auto;
  z-index: 10;
  user-select: none;
  &.hide {
    width: auto;
    animation: hideWidth 0.5s;
  }
  &.show {
    width: 220px;
  }

  &__auth-show-btn {
    transition: all ease 0.5s;
    cursor: pointer;
    font-size: 27px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-180deg);
    animation-duration: 0.3s;
    border-radius: 50%;
    background-color: rgb(50, 18, 124);
    z-index: 10;
    color: rgba(255, 255, 255, 0.555);
    &:hover {
      color: #fff;
    }
  }
  &.show-small &__auth-show-btn {
    margin-left: 12px;
  }
  &.show &__auth-show-btn {
    transform: rotate(0);
  }
  &.hide &__auth-show-btn {
    transform: rotate(-180deg);
  }

  &__auth-sync {
    display: flex;
    transition: all ease 0.5s;
    position: absolute;
    left: 0;
    margin-bottom: 10px;
    background-color: rgb(50, 18, 124);
    border-radius: 15px;
    bottom: -200%;
    width: 100%;
  }
  &.show-small &__auth-sync {
    border-top-right-radius: 15px;
  }
  .show &__auth-sync {
    bottom: 0;
    visibility: visible;
  }
  .hide &__auth-sync {
    bottom: -200%;
    visibility: hidden;
  }
  &__sign,
  &__auth {
    color: rgba(255, 255, 255, 0.555);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation-duration: 0.3s;
    padding-left: 7px;
  }
  &__auth {
    cursor: default;
  }
  &__sign:hover &__auth-title {
    color: #fff;
  }
  .show &__auth-sign {
    bottom: 0;
  }
  .hide &__auth-sign {
    bottom: -100%;
  }

  &__auth-title {
    transition: all ease 0.5s;
    font-size: 18px;
  }
  &__auth-icon {
    margin: 12px 6px;
    margin-right: 10px;
    padding: 2px;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  &__auth-icon_google {
    width: 26px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  &__auth-icon_google.auth-process {
    animation: rotate 2s infinite;
  }
  &__auth-icon_sync,
  &__auth-icon_logout {
    transition: all ease 0.5s;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 7px;
    &:hover {
      color: #fff;
    }
  }

  &__sync {
    transition: all ease 2s;
  }
  &__error-message {
    display: none;
    position: absolute;
    z-index: 11;
    width: 220px;
    top: -85px;
    left: 0px;
    text-align: center;
    color: red;
    font-weight: bold;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
  }
  &__error-message.error {
    display: block;
  }
  &__sync.success {
    color: rgb(88, 184, 88);
  }
  &__sync.error {
    color: rgb(255, 38, 0);
  }

  &__sync.sync-process {
    animation: rotate 2s infinite;
  }

  &__auth-avatar {
    margin: 7.5px 20px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
  }
  @keyframes hideWidth {
    0% {
      width: 220px;
    }
    99% {
      width: 220px;
    }
    100% {
      width: auto;
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
